@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    background: rgb(206, 206, 206);
    /* rgb(var(--background-start-rgb)); */
    /* background: linear-gradient(
      245.59deg,
      #4d9559 0%,
      #38703d 28.53%,
      #133917 75.53%
    ); */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 480px) {
  
  #upper-nav h1{
    font-size: 2rem;
    }
}
